.Home>h4{
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.235);
}

.homeL textarea{
    resize: none;
}
.homeL textarea::-webkit-scrollbar{
    display: none;
}

.robotSVG{animation: robotSVG 1s infinite ease-in;}
.botMsg{animation:typing 4s steps(40, end);}

.animate-scroll {
    animation: scroll 20s linear infinite;
}

.wrapper:hover .slider{
    animation-play-state: paused;
}

.botTalks{
    animation: 3s botTalks infinite ease-in;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes robotSVG {
    0% {filter: brightness(1);}
    50% {filter: brightness(0.5);}
    100% {filter: brightness(1);}
}
@keyframes botTalks {
    0%{top:18%}
    50%{top:20%}
    100%{top:18%}
}
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}