@import "tailwindcss";

body {
    min-height: 100dvh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient(110deg, #0d1e2a 60%, #0095f0);
    color: #fff;
}

body::-webkit-scrollbar{
    width: 0;
}

@media screen and (max-width:768px) {
    nav{padding: 15px;}
    .wrapper{display: none;}
    .Home{flex-direction: column-reverse;}
    .Home>h4{display: none;}
    .homeL{width: 100%;padding:5rem 1rem;z-index: 100;}
    .homeR{display: none;}
}