@import "tailwindcss";

body {
    min-height: 100dvh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(110deg, #0d1e2a 60%, #0095f0);
    color: #fff;
}

.homeL textarea{
    resize: none;
}
.homeL textarea::-webkit-scrollbar{
    display: none;
}

.robotSVG{animation: robotSVG 1s infinite ease-in;}
.botMsg{animation:typing 4s ease-out;}

@keyframes typing {
    from {width: 0%;}
}
@keyframes robotSVG {
    0% {filter: brightness(1);}
    50% {filter: brightness(0.5);}
    100% {filter: brightness(1);}
}

.slide{animation: 30s slide infinite linear;}
.item1{animation-delay: calc(30s / 10 * (10 - 1) * -1);}
.item2{animation-delay: calc(30s / 10 * (10 - 2) * -1);}
.item3{animation-delay: calc(30s / 10 * (10 - 3) * -1);}
.item4{animation-delay: calc(30s / 10 * (10 - 4) * -1);}
.item5{animation-delay: calc(30s / 10 * (10 - 5) * -1);}
.item6{animation-delay: calc(30s / 10 * (10 - 6) * -1);}
.item7{animation-delay: calc(30s / 10 * (10 - 7) * -1);}
.item8{animation-delay: calc(30s / 10 * (10 - 8) * -1);}
.item9{animation-delay: calc(30s / 10 * (10 - 9) * -1);}
.item10{animation-delay: calc(30s / 10 * (10 - 10) * -1);}

.wrapper:hover .slide{
    animation-play-state: paused;
}

@keyframes slide {
    to{left:-100%;}
}

.botTalks{
    animation: 3s botTalks infinite ease-in;
}

@keyframes botTalks {
    0%{top:18%}
    50%{top:20%}
    100%{top:18%}
}